<div class="container">
  <div class="hstack gap-2">
    <span class="text-muted">
        Have any suggestion?
        <a target="_blank"
            href="https://github.com/emilio2hd/automation-in-practice-app/fork"
        >Fork this repo</a>
        and submit your pull-request
      </span>
    <div class="ms-auto">
      <i class="fab fa-github-alt"></i>
      <a target="_blank"
            href="https://github.com/emilio2hd/automation-in-practice-app"
        >automation-in-practice-app</a>
    </div>
  </div>
</div>