<div class="mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center  mb-5 border-bottom">
    <h1 class="fw-light">
      <i class="fas fa-robot"></i>
      Automation in Practice
    </h1>
  </header>

  <main>
    <p class="fs-5 col-md-8">
      The goal of this projects is to provide a set of pages so you can put your
      test automation skills to work.
    </p>

    <hr class="col-3 mt-5 col-md-2 mb-4">

    <ul data-testid="exercisesList">
      <li><a href="/simple-login">Simple login form</a></li>
      <li><a href="/todo">Todo app</a></li>
      <li><a href="/skeletons">Skeletons/Content Placeholders</a></li>
      <li><a href="/username-availability">Username Availability</a></li>
      <li><a href="/filtering-table">Filtering Table</a></li>
    </ul>
  </main>
</div>