<div class="row justify-content-center mb-5">
  <div class="col-10">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Todo App</h5>
        <p class="card-text">
          The todo app is a <a target="_blank" href="https://en.wikipedia.org/wiki/Single-page_application">SPA</a>
          application, which has the following features:
          <ul>
            <li>Create, remove and complete tasks.</li>
            <li>Empty task is not allowed and it has maximum of 100 characters.</li>
            <li>Completed tasks go to the bottom of the list.</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-6">
    <ul class="list-group" id="todoApp">
      <li class="list-group-item">
        <input type="text" class="form-control w-100 border-0" ref="newTaskInput"
               placeholder="Add a new task..."
               title="Type the task and hit enter to save"
               v-on:keyup.enter="onNewTaskInputEnter"
               v-model.trim="newTask"
               maxlength="100"
        >
      </li>
      <li class="list-group-item d-flex align-items-center"
          v-for="todo in orderedTasks" :key="todo.id"
          v-bind:class="{ 'bg-light': todo.completed }"
      >
        <div class="form-check flex-grow-1">
          <input class="form-check-input" type="checkbox" style="font-size: 1.375em;"
                 :id="'check-'+todo.id"
                 v-model="todo.completed">
          <label class="form-check-label" :for="'check-'+todo.id"
                 v-bind:class="{ 'text-muted text-decoration-line-through': todo.completed }"
          >
            {{ todo.text }}
          </label>
        </div>
        <a href="javascript:void(0)" class="ms-auto p-1" title="Remove task"
           v-on:click="onRemoveClick(todo.id)"
        >
          <i class="fas fa-trash-alt"></i>
        </a>
      </li>
      <li class="list-group-item bg-light" v-if="isTodoListEmpty()">
        <p class="mb-0 text-muted">
          <em>There are no tasks created</em>
        </p>
      </li>
    </ul>
  </div>
</div>

<% content_for :content_javascript_bottom do %>
<script>
  let todoApp = new Vue({
    el: '#todoApp',
    data: {
      newTask: '',
      todoList: []
    },
    mounted() {
      this.focusInput();
    },
    computed: {
      orderedTasks: function () {
        // Sorting the todo list with not completed task (completed = false) coming first
        this.todoList = this.todoList.sort((x, y) => x.completed - y.completed);
        return this.todoList;
      }
    },
    methods: {
      onNewTaskInputEnter: function() {
        if(this.newTask.length === 0){
            return;
        }

        this.todoList.push({ id: Date.now(), text: this.newTask, completed: false });
        this.newTask = '';
      },
      onRemoveClick: function (taskId) {
        this.todoList = this.todoList.filter(task => task.id !== taskId);
      },
      isTodoListEmpty: function() {
        return this.todoList.length === 0;
      },
      focusInput() {
          this.$refs.newTaskInput.focus();
      }
    }
  });
</script>
<% end %>